# Build
dist/
.astro/

# Dependencias
node_modules/

# Logs
*.log
npm-debug.log*

# Entorno
.env
.env.production
.env.*.local

# Sistema operativo y editores
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
